:root {
    --dark : #000000;
    --light: #F5F5F7;
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.25)
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
html, body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0%;
    font-size: 16px;
    scroll-behavior: smooth;
    color: var(--dark);
    background-color: var(--light);

}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 100%;
    padding: 0 13%;
}

.hero {
    position: relative;
    padding-top: 4.7rem;
    height: 100vh;
    background-image: url('../img/hero_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
    color: var(--light);
    margin-bottom: 5rem;
    h1 {
        font-size: 3.75rem;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--light);
        margin-bottom: 7.8rem;
    }
    p {
       font-weight: 100;
       font-size: 2rem;
       letter-spacing: 0%;
       margin-bottom: 1.25rem;
    }
}
.btn {
    display: inline-flex;
    padding: .625rem 3.125rem;
    background-color: transparent;
    border: .0625rem solid var(--light);
    color: var(--light);
    font-weight: 100;
    font-size: 1rem;
    min-height: 2.375rem;
    text-align: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 6.25rem;
    transition: all .3s ease-in-out;
    &:hover {
        text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        box-shadow: var(--shadow);
        transform: translateY(-5px);
    }

}

.location {
   position: relative;
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 16.25rem;
    color: var(--light); 
    address, a {
        font-style: normal;
    }
    &::before {
        content: " ";
        position: absolute;
        top: -20px;
        left: -45px;
        display:block;
        width: 2.5rem;
        height: 3.125rem;
        margin-left: .04375rem;
        background-image: url('../icon/Arrow.svg');
        color: #fff;
    }
    @media screen and (max-width: 768px) {
        &::before {
            left: -40px;
        }
        
    }
}

.keywords {
    position: absolute;
    text-align: center;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 1.25rem;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.2) 100%);
    align-items: center;
    column-gap: 2.5rem;
    padding: .625rem;
    color: var(--light);
    li {
        font-weight: 100;
        font-size: .625rem;
        letter-spacing: 0;
    }
    
}

