:root {
    --dark: #000000;
    --light: #F5F5F7;
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    --padding-inline-container: 13%;
    --padding-inline-footer: 10%;

    @media screen and (max-width: 48rem) {
        --padding-inline-container: 6%;
        --padding-inline-footer: 6%;

    }

    @media screen and (max-width: 23.4375rem) {
        --padding-inline-container: .9375rem;
        --padding-inline-footer: .9375rem;
    }

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html, body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 16px;
    scroll-behavior: smooth;
    color: var(--dark);
    background-color: var(--light);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-block: 0;
}

.container {
    padding-inline: var(--padding-inline-container);

}

.hero {
    position: relative;
    min-height: 100vh;
    background-image: url('../img/hero_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
    color: var(--light);
    margin-bottom: 5rem;

    @media screen and (max-width: 90rem) {
        padding-top: 3.5rem;
        background-size: 170%;
    }

    @media screen and (max-width: 48rem) {
        background-image: url('../img/tablet_bg.png');
        background-size: 100%;
        background-position-y: bottom;
    }

    @media screen and (max-width: 23.4375rem) {
        min-height: 31.25rem;
        background-image: url('../img/mobile_bg.jpg');
        background-position-y: center;

        background-position-x: right;

    }

}

.hero__title {
    padding-top: 4.7rem;
    font-size: 3.75rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--light);
    margin-bottom: 7.8rem;

    @media screen and (max-width: 90rem) {
        font-size: 3.5rem;

    }

    @media screen and (max-width: 48rem) {
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    @media screen and (max-width: 36rem) {
        padding-top: 3.125rem;
        font-size: 1.625rem;
        margin-bottom: 1.875rem;
    }
}

.hero__subtitle {
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 1.25rem;

    @media screen and (max-width: 36rem) {
        font-size: 1rem;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: .625rem 3.125rem; */
    background-color: transparent;
    border: .0625rem solid var(--light);
    color: var(--light);
    font-weight: 100;
    font-size: 1rem;
    min-height: 2.375rem;
    width: 10rem;
    margin-bottom: 6.25rem;
    transition: all .3s ease-in-out;

    &:hover {
        text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        box-shadow: var(--shadow);
        transform: translateY(-5px);
    }

    @media screen and (max-width: 36rem) {
        & {
            width: 7.5rem;
            min-height: 1.875rem;
            font-size: .875rem;
            margin-bottom: 9rem;
        }
    }
}

.location {
    position: relative;
    font-weight: 100;
    font-size: 1rem;
    /* margin-bottom: 10rem; */
    color: var(--light);

    address {
        font-style: normal;
    }

    &::before {
        content: " ";
        position: absolute;
        top: -20px;
        left: -45px;
        display: block;
        width: 2.5rem;
        height: 3.0625rem;
        background-color: var(--dark);
        margin-left: .04375rem;
        background-image: url('../icon/Arrow.svg');
        color: #fff;
    }

    @media screen and (max-width: 90rem) {
        &::before {
            left: -40px;
        }

    }

    @media screen and (max-width: 48rem) {
        &::before {
            width: 1.875rem;
            height: 2.375rem;
            background-image: url('../icon/arrow_tablet.svg');
            top: -5px;
        }
    }

    @media screen and (max-width: 36rem) {
        &::before {
            display: none;
        }
    }
}

.keywords {
    position: absolute;
    width: 100%;
    min-height: 1.25rem;
    bottom: 0;
    padding: 0 360px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.12) 50%,
            rgba(255, 255, 255, 0.2) 100%);
    align-items: center;
    color: var(--light);

    li {
        font-weight: 100;
        font-size: .625rem;

        & a {
            font-size: .625rem;
            padding: .625rem 0;
            font-weight: 100;
            transition: all .3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    @media screen and (max-width: 90rem) {
        & {
            padding: 0 2.5rem;

        }


    }

    @media screen and (max-width: 48rem) {
        & {
            padding: 0 1.25rem;
        }

        & li:nth-last-child(-n+6) {
            display: none;

        }
    }

    @media screen and (max-width: 23.4375rem) {
        & {
            padding: 0 1rem;
        }

        & li:nth-last-child(-n+11) {
            display: none;

        }
    }

}