:root {
    --dark: #000000;
    --light: #F5F5F7;
    --shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    --padding-inline-container: 13%;
    --padding-inline-footer: 10%;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 16px;
    scroll-behavior: smooth;
    color: var(--dark);
    background-color: var(--light);

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding-inline: var(--padding-inline-container);

}

.hero {
    position: relative;

    min-height: 100vh;
    background-image: url('../img/hero_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark);
    color: var(--light);
    margin-bottom: 5rem;

    @media screen and (max-width: 1440px) {
        padding-top: 3.5rem;

    }

}

.hero__title {
    padding-top: 4.7rem;
    font-size: 3.75rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--light);
    margin-bottom: 7.8rem;

    @media screen and (max-width: 1440px) {
        font-size: 3.5rem;
        margin-bottom: 5rem;
    }
}

.hero__subtitle {
    font-weight: 100;
    font-size: 2rem;
    letter-spacing: 0%;
    margin-bottom: 1.25rem;

}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .625rem 3.125rem;
    background-color: transparent;
    border: .0625rem solid var(--light);
    color: var(--light);
    font-weight: 100;
    font-size: 1rem;
    min-height: 2.375rem;
    width: 10rem;

    margin-bottom: 6.25rem;
    transition: all .3s ease-in-out;

    &:hover {
        text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        box-shadow: var(--shadow);
        transform: translateY(-5px);
    }

}


.location {
    position: relative;
    font-weight: 100;
    font-size: 1rem;
    /* margin-bottom: 10rem; */
    color: var(--light);

    address {
        font-style: normal;
    }

    &::before {
        content: " ";
        position: absolute;
        top: -20px;
        left: -45px;
        display: block;
        width: 2.5rem;
        height: 3.125rem;
        margin-left: .04375rem;
        background-image: url('../icon/Arrow.svg');
        color: #fff;
    }

    @media screen and (max-width: 768px) {
        &::before {
            left: -40px;
        }

    }
}

.keywords {
    position: absolute;
    width: 100%;
    min-height: 1.25rem;
    bottom: -1.0625rem;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 0 360px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(180deg,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(0, 0, 0, 0.12) 50%,
            rgba(0, 0, 0, 0.2) 100%);
    align-items: center;
    column-gap: 2.5rem;
    color: var(--light);

    li {
        font-weight: 100;
        font-size: .625rem;
        padding: .625rem;
    }

    @media screen and (max-width: 768px) {
        padding: 0 1.25rem;

        li:nth-last-child(-n+6) {
            display: none;
        }

    }

}